#wallpaper-1{
    width: 135%;
    border-radius: 20%;

}

.nav-wrapper{
    background: white;
    color: #1a202c;
}

nav ul a{
    color: black;
}

.page-footer{
    background-color: grey;
    color: black;
}


#big-title{
    color: #69b97b;
}

#second-title{
    color: #7bc141;
}

#three-title{
    color:#98ca4f ;
}
